@using Microsoft.AspNet.Identity
@using LMS2.Models
@if (Request.IsAuthenticated)



{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        ApplicationDbContext context = new ApplicationDbContext();


        if (context.Users.Count() == 0 | context.Users == null)
        {

        <ul class="nav navbar-nav navbar-right">
        <li>

            @{var userRole = "";
                string currentUserId = User.Identity.GetUserId();


                ApplicationUser currentUser = context.Users.FirstOrDefault(x => x.Id == currentUserId);
                if (currentUser != null)
                {
                    string ID = currentUser.Id;
                    string Email = currentUser.Email;
                    string Username = currentUser.UserName;

                    if (User.IsInRole("Teacher"))
                    {
                        userRole = LMS2.Models.Roles.Teacher;
                    }
                    if (User.IsInRole("Student")) { userRole += LMS2.Models.Roles.Student; }
                    if (currentUser != null)
                    {

            @Html.ActionLink(currentUser.FullName + " (" + userRole + ")", "UserHomePage", "ApplicationUsers", new { id = currentUser.Id }, null)}
                    }
                }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
                }
                    }
                }

                else
                {
    <ul class="nav navbar-nav navbar-right">

        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
    }

