
.highlight{
    background-color: gainsboro;
}

#loginscreen {
    background-color: darkblue;
    color: white;
    background-image: url('../Pictures/LMS_logo.jpg');
    background-size: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#forgotyourpasswordscreen {
    background-color: darkblue;
    color: white;
    background-image: url('../Pictures/LMS_logo.jpg');
    background-size: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.salvation {
    font-size: 70px;
    font-family: Bahnschrift
}

.urgentinfo {
    background-color: darkred;
    color: white
}

.whitelink > a, .whitelink > a:link, .whitelink > a:hover, .whitelink > a:active, .whitelink > a:any-link {
    color: white;
}

.aboutMe{
    padding-left: 0px; 
}
.editProfileKey{
    padding-left: 0px
}

tr.border_bottom>td {
    border-bottom: 1pt dotted black;
}
tr.title > th {
    color:white;
    background-color: darkgrey
}
